body {
    background-color: rgb(246, 245, 245);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px;
    background-color: #FFF;
}

.nav-links>li {
    
    display: inline;

}
.nav-links>a {
  
    padding: 1em;
}

#logo {
    margin-left: 2em;
    float: left;
    width: 75px;
    height: auto;
}

#email {
    width: 25px;
    height: auto;
}

.main-header {
    padding: 2em;
    text-align: center;
}

#main-header__logo {
    width: 40%;
    height: auto;
    padding-bottom: 1em;
}

h1 {
    font-size: 1.3em;
    font-weight: 500;
    color: rgb(88, 88, 88);
}

.grid-articles {
    display: grid;
    padding: 0 2em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 8px;
    justify-content: center;
    color: #FFF;
}

.grid-articles>* {
    display: grid;
    padding: 15px;
    justify-content: end;
    align-content: end;
}

.grid-articles p {
    font-size: 1.5em;
}

.grid-articles>div {
    height: 300px;
    min-width: 320px;
    max-width: auto;
}

.grid-articles__1 {
    background: linear-gradient( 180deg, transparent 0, #000), url("images/articles__1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.grid-articles__2 {
    background: linear-gradient( 180deg, transparent 0, #000), url("images/articles__2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.grid-articles__3 {
    background: linear-gradient( 180deg, transparent 0, #000), url("images/articles__3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.grid-articles__4 {
    background: linear-gradient( 180deg, transparent 0, #000), url("images/articles__4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.grid-articles__5 {
    background: linear-gradient( 180deg, transparent 0, #000), url("images/newsletter.png");
    background-size: 200%;
    background-position: 50%;
    align-content: center;
}

.grid-articles__5 p {
    padding: 20px;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
}

.cta {
    opacity: 0.9;
    margin: 15px auto;
    width: 100px;
    height: 30px;
    padding: 8px 7px;
    border: 2px solid white;
    border-radius: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
}

.popular-articles {
    display: grid;
    padding: 5px 25px;
    background-color: rgb(241, 239, 239);
}

.popular-articles h3 {
    padding: 25px;
    font-size: 1.5em;
    font-weight: 550;
    text-align: center;
    color: rgb(117, 117, 117);
}

.popular-articles__article {
    display: flex;
    padding-top: 20px;
    font-weight: 530;
}

.popular-articles__number {
    padding-right: 15px;
    font-size: 2.2em;
    color: rgb(199, 6, 119);
}

.latest-stories {
    padding-bottom: 3em;
}

.latest-stories h2 {
    padding: 1.5em 0;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

.latest-stories__list {
    display: grid;
}

.latest-stories__flex {
    display: flex;
    padding: 15px;
}

.latest-stories__flex img {
    width: 25%;
    padding-right: 15px;
    border-radius: 50%;
}

.latest-stories__flex p {
    width: 75%;
    font-size: 0.9em;
    font-weight: 560;
}

.latest-stories__button {
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding: 15px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 25px;
    text-align: center;
}

.latest-stories__button a {
    padding: 15px;
}

.channels {
    width: 100%;
    background-color: rgb(241, 239, 239);
}

.channels h2 {
    padding: 1.5em 0;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

.channels__list {
    display: flex;
    overflow: scroll;
    margin: 10px;
    width: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.channels__list--items {
    display: flex;
    margin: 10px;
    height: 250px;
    padding: 10px;
    flex-direction: column;
    flex: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    background-image: url("images/channels1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    line-height: 1.5em;
}

.channels__list h3 {
    padding-bottom: 2.5em;
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
    color: #FFF;
}

.channels__list a {
    padding-top: 1em;
    text-align: center;
    color: #FFF;
}

.newsletter {
    width: auto;
    height: 20rem;
    margin: 3em auto;
    padding: 2em;
    background-image: url("images/newsletter.png");
    background-repeat: no-repeat;
    background-size: 235%;
    background-position: 50%;
    text-align: center;
    line-height: 2em;
    color: #FFF;
}

.newsletter h2 {
    padding-bottom: 2em;
    font-size: 1.5em;
    font-weight: 700;
}

.newsletter_submit {
    display: flex;
    margin: 0 20px;
    width: auto;
    height: 2.5rem;
    margin-top: 1.5em;
    align-content: center;
    justify-content: space-around;
    background-color: #FFF;
}

.newsletter_submit img {
    position: relative;
    align-self: center;
    width: 10px;
    height: 10px;
    padding-left: 5px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 15px;
}

.newsletter_submit input {
    width: 5em;
    background-color: transparent;
    border: none;
    flex: 1;
    margin-left: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    overflow: hidden;
}

.newsletter_submit button {
    align-self: center;
    justify-self: center;
    background-color: transparent;
    border: none;
    color: rgb(138, 138, 138);
    text-align: center;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 250px;
    overflow: hidden;
}

.watch {}

.watch h3 {
    padding-bottom: 2em;
    font-size: 1.7em;
    font-weight: 900;
    text-align: center;
}

.watch-videos__main {}

.watch-videos__main iframe {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    height: 400px;
}

.watch-videos__playlist {
    display: flex;
}

.playlist {
    flex: 1 1 150px;
    height: 10em;
    text-align: center;
    background-color: rgb(236, 236, 236);
    margin-top: 1em;
    margin-bottom: 50px;
}

.playlist img {
    width: 100px;
    height: auto;
}

.playlist p {
    font-size: 0.7em;
    text-align: center;
}

.work {
    margin-top: 2em;
    text-align: center;
    line-height: 1.5em;
}

.work h6 {
    font-size: 1em;
    line-height: 1.5em;
}

.work h2 {
    font-size: 1.5em;
    font-weight: 900;
}

.work p {
    margin: 1em 15px;
    text-align: center;
}

.work button {
    height: 3em;
    width: 9em;
    margin-top: 1em;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-size: 0.8em;
    color: white;
    background-color: rgb(16, 199, 199);
}

.work__bottom {
    margin: 2.5em 5em;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: 10em;
    text-align: center;
    justify-content: space-between;
}

.work__company {
    display: grid;
    padding: 0 3em;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    opacity: 0.5;
}

footer {
    padding: 3.5em 1em;
    color: white;
    background-color: black;
}

footer h2 {
    font-size: 1.4em;
    font-weight: 300;
}

.footer__grid {
    display: grid;
    padding: 2em 3em;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
}

.li-header {
    font-size: 1.4em;
    line-height: 1.5em;
    color: white;
}

.footer__grid li {
    line-height: 1.5em;
    color: rgb(37, 212, 218);
}

footer hr {
    width: 100%;
}

.footer-p {
    text-align: center;
    line-height: 1.5em;
    color: rgb(129, 127, 127);
}

.footer-p span {
    color: white;
}


/* Media Queries */

@media (min-width: 768px) {
    #menu {
        display: none;
    }
    .grid-articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .grid-articles__1 {
        grid-column: span 2;
    }
    .latest-stories__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .latest-stories__flex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px;
        justify-content: space-around;
        grid-gap: 1em;
    }
    .latest-stories__flex img {
        width: 350px;
        height: 175px;
        padding-right: 1em;
        border-radius: 0%;
    }
    .watch {
        background-color: rgb(236, 236, 236);
    }
    .watch-videos {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 450px;
        grid-template-areas: "main playlist";
        overflow: scroll;
    }
    .watch-videos__main {
        grid-area: main;
        padding-left: 4em;
    }
    .watch-videos__playlist {
        grid-area: playlist;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        min-height: 0;
        /* NEW */
        min-width: 0;
        background-color: rgb(236, 236, 236);
        overflow: scroll;
    }
    .playlist {
        text-align: center;
    }
    .playlist img {
        width: 200px;
    }
    .playlist p {
        font-size: 1em;
        line-height: 1.5em;
        text-align: center;
    }
    .work {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "work-top work-bottom" "work-company work-company";
    }
    .work__top {
        grid-area: work-top;
    }
    .work__bottom {
        grid-area: work-bottom;
        width: 300px;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: 10em;
    }
    .work__company {
        grid-area: work-company;
        display: grid;
        padding: 0 6em;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        opacity: 0.5;
    }
    #main-header__logo {
        width: 150px;
    }
}

@media (min-width: 1024px) {
    #menu {
        display: none;
    }
    .main-header {
        display: flex;
        justify-content: space-between;
        margin: 1em 2em;
    }
    #main-header__logo {
        min-width: 200px;
    }
    .main-header>h1 {
        font-size: 1.75em;
    }
    .grid-articles {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 144px);
    }
    .grid-articles>div {
        height: auto;
        min-width: auto;
    }
    .grid-articles__1 {
        grid-column: 1/5;
        grid-row: 1/span 3;
    }
    .grid-articles__2 {
        grid-column: 5/7;
        grid-row: 1/span 2;
    }
    .grid-articles__3 {
        grid-column: 7/9;
        grid-row: 1/span 2;
    }
    .grid-articles__4 {
        grid-column: 5/9;
        grid-row: 3/span 3;
    }
    .grid-articles__5 {
        grid-column: 1/5;
        grid-row: 4/span 2;
    }
    #popular-articles__ul {
        display: flex;
        height: 200px;
        padding: 0em 2em;
    }
    .latest-stories__button {
        margin: 2em auto;
        width: 15%;
        height: auto;
        padding: 15px;
        border: 1px solid rgb(163, 163, 163);
        border-radius: 25px;
        text-align: center;
    }
    .latest-stories__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .latest-stories__flex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px;
        justify-content: space-around;
        grid-gap: 1em;
    }
    .latest-stories__flex img {
        width: 175px;
        height: 85px;
        padding-right: 1em;
        border-radius: 0%;
    }
    .watch {
        background-color: rgb(236, 236, 236);
    }
    .watch-videos {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 450px;
        grid-template-areas: "main playlist";
        overflow: scroll;
    }
    .watch-videos__main {
        grid-area: main;
        padding-left: 4em;
    }
    .watch-videos__playlist {
        grid-area: playlist;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        min-height: 0;
        /* NEW */
        min-width: 0;
        background-color: rgb(236, 236, 236);
        overflow: scroll;
    }
    .playlist {
        text-align: center;
    }
    .playlist img {
        width: 200px;
    }
    .playlist p {
        font-size: 1em;
        line-height: 1.5em;
        text-align: center;
    }
    .work {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "work-top work-bottom" "work-company work-company";
    }
    .work__top {
        grid-area: work-top;
    }
    .work__bottom {
        grid-area: work-bottom;
        width: 300px;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: 10em;
    }
    .work__company {
        grid-area: work-company;
        display: grid;
        padding: 0 6em;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        opacity: 0.5;
    }
    #main-header__logo {
        width: 150px;
    }
    .channels__list {
        display: flex;
        overflow: scroll;
        margin: 10px;
        width: auto;
    }
    .channels__list--items {
        display: flex;
        margin: 5px;
        height: 250px;
        padding: 5px;
        flex-direction: column;
        flex: 20%;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        background-image: url("images/channels1.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        line-height: 1.5em;
    }
    .channels h2 {
        padding: 1.5em 1em;
        font-size: 2.5em;
        font-weight: 800;
        text-align: start;
    }
    .work__company {
        grid-area: work-company;
        display: grid;
        padding: 0 6em;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: auto;
        opacity: 0.5;
    }
    .footer-container {
        padding: 0 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1440px) {
    main {
        margin: 0 8em;
    }
}

@media (min-width: 2560px) {
    main {
        margin: 0 20em;
    }
}

@media (max-width: 768px) {
    .nav-links,
    #email {
        display: none;
    }
    #menu {
        display: block;
    }
    #logo {
        position: absolute;
        left: 3em;
    }
}
